{{define "dashboard-default/login"}}
{{template "common/header" .}}
<div class="login nb-container">
    <div class="ui center aligned grid">
        <div class="column">
            <h2 class="ui image header">
                <img src="static/logo.svg?v20210804" class="image">
                <div class="content">
                    {{tr "Login"}}
                </div>
            </h2>
            <form class="ui large form" method="post" action="/auth/password">

                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input
                                type="text"
                                name="username"
                                placeholder="Username"
                                autocomplete="off"
                                required
                            >
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input
                                type="password"
                                name="password"
                                placeholder="Password"
                                autocomplete="off"
                                required
                            >
                        </div>
                    </div>

                    <button type="submit" class="ui fluid large nezha-primary-btn button">
                        {{tr "Login"}}
                    </button>

            </form>

            <div class="ui hidden divider"></div>
            <div class="ui colored long divider" style="width: 120%; margin: 30px auto; margin-left: -10%; margin-right: -10%;"></div>
            <div class="ui hidden divider"></div>

             <a href="/oauth2/login" class="ui fluid large nezha-primary-btn submit button">{{tr "Use"}} {{.LoginType}} {{tr "AccountToLogin"}}</a>
            <div class="ui message">
                {{tr "DontHaveAnAccount"}} <a href="{{.RegistrationLink}}" target="_blank" rel="noopener noreferrer">{{tr "SignUp"}}</a>
            </div>
        </div>
    </div>
</div>
{{template "common/footer" .}}
{{end}}