{{define "theme-angel-kanade/footer"}}
</div>
<div class="ui inverted vertical footer segment">
    <div class="ui center aligned is-size-7 container">
        <b>&copy; <a style="color: white;" href="/">{{.Conf.Site.Brand}}</a></b> | 
		Powered by <a style="color: white;" href="https://github.com/railzen/nezha-zero"><st>{{tr "NezhaMonitoring"}}&lt;{{.Version}}&gt;</st></a>&nbsp;| Theme designed 
        <small>by.<a
                href="https://yujie.pro" style="color: white;" target="_blank">夜灭</a>
        </small>
    </div>
</div>
<script src="/static/cdn/jquery@3.7.1/dist/jquery.min.js"></script>
<script src="/static/cdn/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="/static/semantic-ui-alerts.min.js"></script>
<script src="/static/cdn/vue@2.7.16/dist/vue.min.js"></script>
<script src="/static/main.js?v20260727"></script>
<script src="/static/theme-default/js/mixin.js?v20240302"></script>
<script>
    (function () {
        updateLang({{.LANG }});
    })();
</script>
</body>
</html>
{{end}}