{{define "theme-nazhua/home"}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nazhua</title>
    <link rel="shortcut icon" type="image/png" href="/static/logo.svg">
    <script src="/static/theme-nazhua/config.js"></script>
    <script type="module" crossorigin src="/static/theme-nazhua/assets/index-r17B-bzQ.js"></script>
    <link rel="modulepreload" crossorigin href="/static/theme-nazhua/assets/index-r17B-bzQ.js">
    <link rel="modulepreload" crossorigin href="/static/theme-nazhua/assets/vendor-BcQdnpyp.js">
    <link rel="stylesheet" crossorigin href="/static/theme-nazhua/assets/index-BrWa4DHQ.css">
  </head>
  <body>
    <div id="app"></div>
    <link rel="stylesheet" href="/static/theme-nazhua/style.css" />
  </body>
</html>
{{end}}
